<div class="container">
  <div class="section">
    <h1 class="main--header">Skills</h1>
    <div class="skills__container">
      <div class="skills__items">
        <h3 class="skills__group">Languages</h3>
        <ul>
          <li class="skills__item">HTML5</li>
          <li class="skills__item">CSS3</li>
          <li class="skills__item">JavaScript (ES6+)</li>
          <li class="skills__item">Sass (SCSS)</li>
        </ul>
        <h3 class="skills__group">Frameworks & Libraries</h3>
        <ul>
          <li class="skills__item">Angular</li>
          <li class="skills__item">jQuery</li>
          <h3 class="skills__group">Tools</h3>
          <li class="skills__item">Github</li>
          <li class="skills__item">Visual Studio Code</li>
          <li class="skills__item">Adobe XD</li>
          <li class="skills__item">Git</li>
          <li class="skills__item">npm</li>
          <li class="skills__item">Angular CLI</li>
          <li class="skills__item">Webpack</li>
          <h3 class="skills__group">Currently learning</h3>
          <li class="skills__item">Cypress</li>
          <li class="skills__item">Design Patterns</li>
        </ul>
      </div>
      <div class="skills__items">
        <h3 class="skills__group">Soft skills</h3>
        <ul>
          <li class="skills__item">Team player</li>
          <li class="skills__item">Communication skills</li>
          <li class="skills__item">Problem solving</li>
          <li class="skills__item">Fast learner</li>
          <li class="skills__item">Goal-oriented</li>
          <h3 class="skills__group">Languages</h3>
          <li class="skills__item">Polish native</li>
          <li class="skills__item">English C1</li>
          <li class="skills__item">German A2</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="main--header">Education</h2>
    <div class="skills__items">
      <h3 class="edu__group">Frontend Developer</h3>
      <ul>
        <li class="edu__item">Collegium Da Vinci</li>
        <li class="edu__item">Postgraduate studies</li>
        <li class="edu__item">2019 - 2020</li>
      </ul>
    </div>
    <div class="skills__items">
      <h3 class="edu__group">English philology</h3>
      <ul>
        <li class="edu__item">Jan Dlugosz Univeristy</li>
        <li class="edu__item">Bachelor's Degree</li>
        <li class="edu__item">2015 - 2018</li>
      </ul>
    </div>
    <div class="more__container">
      <div class="more__items">
        <h3 class="skills__group">My LinkedIn</h3>
        <a href="https://linkedin.com/in/karolina-roczek" target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
</div>
